<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<head th:replace="fragments/head" />
	<title>Perfil</title>
</head>

<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<table class="table table-striped table-responsive-md">
			<h3 class="d-inline p-2">Perfil <span style="color: darkblue;" th:text="${user.lector.nombre}"></span></h3>
			<img class="d-inline p-2" th:src="@{/img/socio.png}" th:title="socio">
			<thead>
				<tr>
					<th>Email</th>
					<th>Nombre</th>
					<th>Teléfono</th>
					<th>Dirección</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${user.email}"></td>
					<td th:text="${user.lector.nombre}"></td>
					<td th:text="${user.lector.telefono}"></td>
					<td th:text="${user.lector.direccion}"></td>
					<td>
						<a th:href="@{/multauser}" class="btn btn-warning" style="color: whitesmoke;">Ver multas</a>
						<a th:href="@{'/updateperfil/' + ${user.id}}"><img alt=""
						src="/img/editar.png"></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="fragments/footer" />
</body>

</html>