<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<head th:replace="fragments/head" />
	<title>Add libro</title>
</head>

<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h3>Nuevo libro de: <span  style="color: darkblue;" th:text="${autor.nombre}"></span> </h3>
		<form action="#" th:action="@{'/savelibro/'+${autor.idautor}}" th:object="${libro}" method="post">
			<input th:field="*{titulo}" type="text" placeholder="Título" class="form-control mb-4 col-4">
			<input th:field="*{editorial}" type="text" placeholder="Editorial" class="form-control mb-4 col-4">
			<p>Año de publicación
				<input th:field="*{anyo}" type="number" class="form-control mb-4 col-4">
			</p>
			<p> Género
				<select name="tipo">
					<option value="">Selecciona</option>
					<option th:each="tipo : ${T(com.capgemini.bibliotecaSpring.enumerados.TipoLibro).values()}"
						th:value="${tipo}" th:text="${tipo}">
					</option>
				</select>
			</p>
			<input th:field="*{autor.idautor}" type="hidden">
			<button type="submit" class="btn btn-info col-2">Guardar libro</button>
		</form>
		<hr>
		<a th:href="@{'/libros/'+${autor.idautor}}">Volver</a>
	</div>
	<footer th:replace="fragments/footer" />
</body>

</html>