<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<head th:replace="fragments/head" />
	<title>Mostrar libros</title>
</head>

<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h3 class="d-inline p-2">Libros autor/a: <span style="color: darkblue;" th:text="${autor.nombre}"></span> </h3>
		<img class="d-inline p-2" th:src="@{/img/libro.png}" th:title="libro">
		<table class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Título</th>
					<th>Editorial</th>
					<th>Año</th>
					<th>Género</th>
					<th>Total copias</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="libro:${libros}">
					<td th:text="${libro.titulo}"></td>
					<td th:text="${libro.editorial}"></td>
					<td th:text="${libro.anyo}"></td>
					<td th:text="${libro.tipo}"></td>
					<td th:text="${#lists.size(libro.copias)}"></td>
					<td><a th:href="@{'/copias/'+${libro.idlibro}}" class="btn btn-primary">Copias</a>
						<a sec:authorize="hasRole('ADMIN')" th:href="@{'/admin/updatelibro/'+${libro.idlibro}}"><img
								alt="" src="/img/editar.png"></a>
						<a th:onclick="return confirm('¿Estás seguro de que deseas eliminar este libro?')"
							sec:authorize="hasRole('ADMIN')" th:href="@{'/admin/deletelibro/'+${libro.idlibro}}"><img
								alt="" src="/img/eliminar.png"></a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="text-center my-2">
			<a sec:authorize="hasRole('ADMIN')" th:href="@{'/admin/addlibro/'+${autor.idautor}}"
				class="btn btn-success mr-2">Add libro</a>
			<a class="btn btn-secondary" th:href="@{/autores}">Volver</a>
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>

</html>