<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<title>Mostrar libros</title>

	<head th:replace="fragments/head" />
</head>

<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h3 class="d-inline p-2">Libros</h3>
		<img class="d-inline p-2" th:src="@{/img/libro.png}" th:title="libro">
		<table class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th><a
							th:href="@{'/pagelibro/' + ${currentPage} + '?sortField=titulo&sortDir=' + ${reverseSortDir}}">Título</a>
					</th>
					<th><a
							th:href="@{'/pagelibro/' + ${currentPage} + '?sortField=autor&sortDir=' + ${reverseSortDir}}">Autor</a>
					</th>
					<th><a
							th:href="@{'/pagelibro/' + ${currentPage} + '?sortField=editorial&sortDir=' + ${reverseSortDir}}">Editorial</a>
					</th>
					<th><a
							th:href="@{'/pagelibro/' + ${currentPage} + '?sortField=anyo&sortDir=' + ${reverseSortDir}}">Año</a>
					</th>
					<th><a
							th:href="@{'/pagelibro/' + ${currentPage} + '?sortField=tipo&sortDir=' + ${reverseSortDir}}">Tipo</a>
					</th>
					<th><a
							th:href="@{'/pagelibro/' + ${currentPage} + '?sortField=copias&sortDir=' + ${reverseSortDir}}">Copias</a>
					</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="libro:${libros}">
					<td th:text="${libro.titulo}"></td>
					<td th:text="${libro.autor.nombre}"></td>
					<td th:text="${libro.editorial}"></td>
					<td th:text="${libro.anyo}"></td>
					<td th:text="${libro.tipo}"></td>
					<td th:text="${#lists.size(libro.copias)}"></td>
					<td><a th:href="@{'/copias/'+${libro.idlibro}}" th:id="${libro.idlibro}" class="btn btn-primary">Copias</a>
				</tr>
			</tbody>
		</table>
		<div th:if="${totalPages>1}">

			<div class="row col-sm-10">
				<div class="col-sm-5">Total Filas: [[${totalItems}]]</div>
				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/pagelibro/' + ${currentPage + 1}+ '?sortField=' + 
		${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Anterior</span>
				</div>
				<div class="col-sm-3">
					<span th:each="i:${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage !=1}"
							th:href="@{'/pagelibro/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
							[[${i}]]</a>
						<span th:unless="${currentPage !=1}">[[${i}]]</span>
					</span>
				</div>

				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/pagelibro/' + ${totalPages}+ 
		'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Último</span>
				</div>
			</div> <!-- cierra el row -->
		</div> <!-- Cierra el if -->
	</div>
	<footer th:replace="fragments/footer" />
</body>

</html>