<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<head th:replace="fragments/head" />
	<title>Mostrar autores</title>
</head>

<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h3 class="d-inline p-2">Autores</h3>
		<img class="d-inline p-2" th:src="@{/img/pluma.png}" th:title="autor">
		<table class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th><a
							th:href="@{'/pageautor/' + ${currentPage} + '?sortField=nombre&sortDir=' + ${reverseSortDir}}">Nombre</a>
					</th>
					<th><a
							th:href="@{'/pageautor/' + ${currentPage} + '?sortField=nacionalidad&sortDir=' + ${reverseSortDir}}">Nacionalidad</a>
					</th>
					<th><a
							th:href="@{'/pageautor/' + ${currentPage} + '?sortField=fechaNacimiento&sortDir=' + ${reverseSortDir}}">Fecha
							nacimiento</a>
					</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="autor:${autores}">
					<td th:text="${autor.nombre}"></td>
					<td th:text="${autor.nacionalidad}"></td>
					<td th:text="${autor.fechaNacimiento}"></td>
					<td><a th:href="@{'/libros/'+${autor.idautor}}" class="btn btn-info">Ver libros</a>
						<a sec:authorize="hasRole('ADMIN')" th:href="@{'/admin/updateautor/'+${autor.idautor}}"
							><img alt=""
						src="/img/editar.png"></a>
						<a sec:authorize="hasRole('ADMIN')"
							th:onclick="return confirm('¿Estás seguro de que deseas eliminar este autor?')"
							th:href="@{'/admin/deleteautor/'+${autor.idautor}}"><img alt=""
						src="/img/eliminar.png"></a>
					</td>
				</tr>
			</tbody>
		</table>
		<div th:if="${totalPages>1}">

			<div class="row col-sm-10">
				<div class="col-sm-5">Total Filas: [[${totalItems}]]</div>
				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}"
						th:href="@{'/pageautor/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Anterior</span>
				</div>
				<div class="col-sm-3">
					<span th:each="i:${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage !=1}"
							th:href="@{'/pageautor/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
							[[${i}]]</a>
						<span th:unless="${currentPage !=1}">[[${i}]]</span>
					</span>
				</div>

				<div class="col-sm-1">
					<a th:if="${currentPage != totalPages}"
						th:href="@{'/pageautor/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage != totalPages}">Último</span>
				</div>

			</div> <!-- cierra el row -->
		</div> <!-- Cierra el if -->
		<div class="text-center my-2">
			<a sec:authorize="hasRole('ADMIN')" th:href="@{'/admin/addautor'}" class="btn btn-success">Add autor</a>
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>

</html>