<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<head th:replace="fragments/head" />
	<title>Update autor</title>
</head>

<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
	<h3>Actualizar Autor: <span style="color: darkblue;" th:text="${autor.nombre}"> </span></h3>
	<form action="#" th:action="@{/saveautor}" th:object="${autor}" method="post">
		<input th:field="*{nombre}" type="text" placeholder="Nombre" class="form-control mb-4 col-4">
		<input th:field="*{Nacionalidad}" type="text" placeholder="Nacionalidad" class="form-control mb-4 col-4">
		<p>Fecha de nacimiento
			<input th:field="*{fechaNacimiento}" type="date" class="form-control mb-4 col-4">
		</p>
		<input th:field="*{idautor}" type="hidden">
		<button type="submit" class="btn btn-info col-2">Guardar autor</button>
	</form>
	<hr>
	<a class="text-center my-2" th:href="@{/autores}">Volver</a>
	</div>
	<footer th:replace="fragments/footer" />
</body>

</html>