<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head" />
<title>Home</title>

<body>
	<nav th:replace="fragments/nav" />
	<div class="container" style="text-align: center">
		<h2 th:text="#{welcome.message}"></h2>
		<h3 id="userLogedIn" th:text="#{welcomesub.message}"></h3>
		<p th:text="#{usermessage.message}">
		<p>
		<p>
			<span sec:authentication="principal.username" th:inline="text">
			</span>

			<img class="img-fluid" th:src="@{/img/hola.png}" th:title="Bienvenido">
		</p>
	</div>

	</div>
	<footer th:replace="fragments/footer" />
</body>

</html>