<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<title>Biblioteca</title>

	<head th:replace="fragments/head" />
</head>
<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h3 style="text-align: center;">Bienvenido a la Biblioteca de Capgemini</h3>
		<img class="img-fluid" th:src="@{/img/Capgemini_201x_logo.svg.png}" th:title="Logo">
		<img class="mx-auto d-block" th:src="@{/img/libreria.png}" th:title="libreria">
	</div>
	<footer th:replace="fragments/footer" />
</body>

</html>