<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<head th:replace="fragments/head" />
	<title>Update Prestamo</title>
</head>

<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
	<h3>Actuliza Prestamo de: <span style="color: darkblue;" th:text="${lector.nombre}"></span> </h3>
	<form action="#" th:action="@{'/saveprestamo/'+${lector.idlector}}" th:object="${prestamo}" method="post">
		
		<p>Fecha inicio
		<input th:field="*{fechaInicio}" type="date"  class="form-control mb-4 col-4">
		</p>
		<p>Fecha fin
		<input th:field="*{fechaFin}" type="date"  class="form-control mb-4 col-4">
		</p>
		<p> Copia
			<select name="copia">
				<option value="">Selecciona</option>
				<option th:each="copia : ${copias}"
					th:value="${copia.idcopia}" th:text="${copia.libro.titulo}">
				</option>
			</select>
		</p>
		<input th:field="*{lector.idlector}" type="hidden">
		<input th:field="*{idprestamo}" type="hidden">
		<button type="submit" class="btn btn-info col-2">Guardar libro</button>
	</form>
	<hr>
	<a th:href="@{'/prestamos/'+${lector.idlector}}">Volver</a>
	</div>
	<footer th:replace="fragments/footer" />
</body>

</html>