<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<head th:replace="fragments/head" />
	<title>Mostrar copias</title>
</head>

<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h3 class="d-inline p-2">Copias libro <span style="color: darkblue;" th:text="${libro.titulo}"></span> </h3>
		<img class="d-inline p-2" th:src="@{/img/libro.png}" th:title="libro">
		<table class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>ID</th>
					<th>Estado</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="copia: ${copias}">
					<td th:text="${copia.idcopia}"></td>
					<td th:text="${copia.estado}"></td>
					<td>
						<a sec:authorize="hasRole('ADMIN')" th:href="@{'/admin/updatecopia/'+${copia.idcopia}}"><img
								alt="" src="/img/editar.png"></a>
						<a th:onclick="return confirm('¿Estás seguro de que deseas eliminar esta copia?')"
							sec:authorize="hasRole('ADMIN')" th:href="@{'/admin/deletecopia/'+${copia.idcopia}}"><img
								alt="" src="/img/eliminar.png"></a>
						<a sec:authorize="hasRole('USER')" th:href="@{/reservas}" class="btn btn-primary">Reservar</a>
					</td>
				</tr>
				<tr th:if="${#lists.isEmpty(copias)}">
					<td colspan="3" style="color: red; text-align: center;font-weight: bold;">No hay copias</td>
				</tr>
				<tr th:if="${!#lists.isEmpty(copias)}">
					<th style="text-align: center;font-weight: bold;" colspan="2">Total:
					</th>
					<td colspan="1" th:text="${copias.size()}" style="color: green;font-weight: bold;"></td>
				</tr>
			</tbody>
		</table>
		<div class="text-center my-2">
			<a sec:authorize="hasRole('ADMIN')" th:href="@{'/admin/addcopia/'+${libro.idlibro}}"
				class="btn btn-success mr-2">Add copia</a>
			<a class="btn btn-secondary" th:href="@{'/libros/'+${libro.autor.idautor}}">Volver</a>
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>

</html>