<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<head th:replace="fragments/head" />
	<title>Update Copia</title>
</head>

<body>

	<nav th:replace="fragments/nav" />
	<div class="container">
		<h3>Actualizar Copia: <span style="color: darkblue;" th:text="${libro.titulo}"></span> </h3>

		<form action="#" th:action="@{'/savecopia/'+${libro.idlibro}}" th:object="${copia}" method="post">
			<input th:field="*{libro.idlibro}" type="hidden">
			<input th:field="*{idcopia}" type="hidden">
				<p> Estado
			<select name="estado">
				<option value="">Selecciona</option>
				<option th:each="estado : ${T(com.capgemini.bibliotecaSpring.enumerados.EstadoCopia).values()}"
					th:value="${estado}" th:text="${estado}">
				</option>
			</select>
		</p>
			<button type="submit" class="btn btn-info col-2">Guardar autor</button>
		</form>
		<hr>
		<a th:href="@{'/copias/'+ ${libro.idlibro}}">Volver</a>
	</div>
	<footer th:replace="fragments/footer" />
</body>

</html>